In [33]:
# general format [expres for var in collection if <test>]
#[e for v in l if t] -> evlt

lis =   [1,2,3,1,4,1,3,4,5,6,8,9,1,3,10,11,13,1,2]
lis_b = [1,0,1,0,1,1,0,1,0,1,0,1,1,1,1,0,0,1,0]
lis2 = [ x for x in lis if x==1] # the expression will be added to the list only if the test is true
lis2

[1, 1, 1, 1, 1]

In [34]:
lis3 = [ x==1 for x in lis ]
lis3

[True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False]

In [35]:
# multiple tests
# [expres for var in collection if <test1> and <test2>]

lis4 = [x for x in lis if x>3 and x<11 ]
lis4

[4, 4, 5, 6, 8, 9, 10]

In [36]:
# multiple collections
# [expres for (var1, var2) in zip(collection1, collection2)]

lis5 = [x*y for (x,y) in zip(lis,lis_b) ]
lis5

[1, 0, 3, 0, 4, 1, 0, 4, 0, 6, 0, 9, 1, 3, 10, 0, 0, 1, 0]

In [37]:
sq = [x**2%11 for x in range(100)] # x**2%p will have number of remainders = (p+1)/2 where p is a prime number
# its called quadratic reciprocity

In [38]:
movies = ['abc','acd', 'bcd', 'dca', 'adc']
selected_movies = [movie for movie in movies if movie.startswith('a')] # can also do movie['0']=='a'
selected_movies

['abc', 'acd', 'adc']

In [39]:
movies = [('abc',1995), ('acd',1996), ('bcd',1995), ('dca',2010), ('adc',2000)]
selected_movies = [movie[0] for movie in movies if movie[1]<2000]
selected_movies

['abc', 'acd', 'bcd']

In [40]:
selected_movies = [title for (title, year) in movies if year<2000] # better way to deal with tuples in list
selected_movies

['abc', 'acd', 'bcd']

In [41]:
# scalar multiplication on a vector, Use List comprehension instead of +
x = [0, -1, 5]

y = [var*4 for var in x]
y

[0, -4, 20]

In [42]:
4*x  ### broadcasting only works with np arrays!!!!
# this is list concatenation happening in python

[0, -1, 5, 0, -1, 5, 0, -1, 5, 0, -1, 5]

In [43]:
[1,2,3] + [0,3,5] # adding lists will concatenate lists

[1, 2, 3, 0, 3, 5]

In [44]:
import numpy as np # adding in numpy arrays has a different result
np.array([1,2,3])+np.array([0,3,5])

array([1, 5, 8])

In [45]:
# Cartesian product -> all possible pairs of elements from both sets
x = [1,2]
y = ['a','b']
z = [(var1, var2) for var1 in x for var2 in y] # nested loop in list comprehension
z

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]